@page "/"

<h1>Hello, world!</h1>

<p> UniverseSize is @Universe.Size</p>

<table>
@for (int y = 0; y < Universe.Size; y++)
{
    <tr>
    @for (int x = 0; x < Universe.Size; x++)
    {
        if(Universe.CurrentGeneration[new GameOfLife.Core.Point(x, y)].Alive)
        {
            <td style="background-color: blue; width: 8px; height: 8px"></td>
        }
        else
        {
            <td style="background-color: red;  width: 8px; height: 8px"></td>
        }
        
    }
    </tr>
}
</table>